# Node/PNPM
node_modules/
.pnpm-store/
.pnpm-debug.log*

# Build outputs
**/dist/
**/out/
remotion-preview.out

# OS/editor
.DS_Store
.idea/
.vscode/

# Env
.env
.env.*
# caches
**/.cache
**/.parcel-cache
**/.next
build/
# macOS junk
__MACOSX

# Temp
.tmp/
